:root {
    --red: #f00;
    --orange: #fa0;
    --green: #0a0;

    --primary: #6030fe;
}

@keyframes gamepad-glow {
    from {
        stroke: var(--green);
        stroke-opacity: 1;
    }

    to {
        stroke-opacity: 0;
    }
}