:root {
    --red: #f00;
    --orange: #fa0;
    --green: #0a0;

    --primary: #6030fe;
}

 @keyframes gamepad-glow {
    from {
        filter: drop-shadow(0 0 2px lime);
    }

    to {
        filter: drop-shadow(0 0 2px transparent);
    }
}